*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    height: 100vh !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.7fr 1.7fr 0.8fr 0.3fr;
    grid-template-areas:"header"
                        "main"
                        "section1"
                        "section2"
                        "footer";
}

/* HEADER */

.header{
    grid-area: header;
    background-color: rgb(2, 2, 2);
    min-width: auto;
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.titulo{
    font-size: 2rem;
    
}

/*menu desplegable*/

.stickyMenu{
    display: none;
}

nav{
    justify-self: flex-end;
    
}

ul{
    list-style: none;
    font-size: 0;
    min-width: fit-content !important;
    
}
  
  
li{
    display: inline-block;
    width: 25% ;
    position: relative;
    font-size: 14px;
    min-width: fit-content !important;
}



ul ul {
    position: absolute;
    display: none;
    
    
    
    
}
  
ul ul li{
    display: block;
    width: auto;
    padding: 5px;
    
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: left;
    background-color:black;
    
    
}
  
  
ul ul li a{
    color: white;
    background-color: black;
    width:100vh;
    padding:4px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    
    
}
  
ul li:hover ul{
    display: block;
    
}
  
ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
    
    
}

.imgMenu{
    width: 35%;
    position: relative;
    z-index: 2;
    align-self: flex-end;
    justify-self: flex-end;
    
}

.logo{
    width: 55%;
}


/* MAIN */

main{
    grid-area: main;
    min-height: auto;
    min-width: auto;
    background-color: white;
    
    

}


.principio{
    background-color: none;
    background-image: url(../img/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    min-height: auto;
    min-width: auto;
    
}

.principio h1{
    margin-top: 10% ;
    padding-bottom: 5% ;
    padding-left: 3% ;
    padding-right: 3% ;
    font-size: 2.7rem;
    text-align: center;
    background-color: none;
}

.principio h2{
    background-color: none;
    margin: 10px;
    margin-top: 2%;
    margin-bottom: 6%;
    padding: 1px;
    font-size: 1.5rem;
    text-align: center;

}
/* imágenes de las banderas*/

.imagenes{
    height: auto;
    background-color: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; 
    
}

.imagenes div{
    /*contenedor de dos imagenes*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}

.imagenes div a{
    color: rgb(247, 240, 240);
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px;

    text-decoration: none;
    text-align: left;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    
    
}


 
.imgUk{
    width: 30%
}

.imgIt{
    width: 30%
}

.imgFr{
    width: 30%
}

.imgGe{
    width: 30%
}

.imgHo{
    width: 30%
}

.imgRu{
    width: 30%
}


/* SECTION1 */

.section1{
    grid-area: section1;
    min-height: fit-content;
    min-width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(108, 108, 108), rgb(168, 166, 166), white);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    
}

.section1 h1{
    text-align: center ;
    font-size: 2rem;
    margin-bottom: 2%;
    margin-top: 8%;
    color: rgb(255, 254, 254);
}

section article{
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
    padding-left: 7%;
    padding-right: 7%;
}
section article div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center !important;
    align-items: center;
    margin-bottom: 7%;
    
}


.section1 article div h2{
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    
}

.section1 article div p{
    margin-bottom: 3%;
    font-size: 1.2rem;
    color: white;
    
}

.talking{
    width: 100%;
}
.ritmo{
    width: 100%;
}
.ayuda{
    width: 100%;
}

article div{
    display: flex;
    justify-content: center;
    align-content: center;
}


/* SECTION2*/

.section2{
    grid-area: section2;
    min-height: 300px;
    min-width: fit-content;
    background-color: rgb(255, 253, 253);
    color: rgb(167, 167, 167);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
.section2 h1{
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.section2 h2{
    text-align: center;
}



/* LINK A INGLES*/

/*sectionIdiomas1*/

.sectionIdiomas1{
    background-image: linear-gradient(to bottom, rgb(172, 182, 195), rgb(201, 218, 217), rgb(255, 255, 255));
    
    
}

.divIn{
    background-image: url(../img/bigben.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
}

.divIn h1{
    text-align: center;
    font-size: 3rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    
    
}

.divIn h2{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    
}

.sectionIdiomas1 article{
    border-top: 2px solid rgb(31, 23, 8);
    
    padding: 3% 10%;
    margin: 3% 10%;
}

.sectionIdiomas1 article h2{
    text-align: center;
    color: rgb(94, 83, 64);
    padding-bottom: 6%;
}

.sectionIdiomas1 article p{
    font-size: 1rem;
}

/*sectionIdiomas2*/

.sectionIdiomas2{
    
    background-color: white;
    padding: 10% 10%;
    color: rgb(248, 244, 244);
}

.sectionIdiomas2 article{
    background-color: rgb(152, 149, 149);
    padding: 10%;
    border: 2px solid none;
    border-radius: 50px;
}

.sectionIdiomas2 article h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 8%;
}

.sectionIdiomas2 article p{
    font-size: 1rem;
    padding-bottom: 4%;
}



/*sectionIdiomas3*/

.sectionIdiomas3{
    background-color: rgb(87, 87, 87);
    padding: 3% 3%;
    color: white;
}

.sectionIdiomas3 h1{
    text-align: center;
    padding: 3%;
}

.sectionIdiomas3 p{
    padding: 3%;
}


/*LINK A ALEMAN cambios*/
.divAl{
    background-image: url(../img/alemania.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
}

.divAl h1{
    text-align: center;
    font-size: 3rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    
    
}

.divAl h2{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    
}

/* LINK FRANCES cambios*/
.divFr{
    background-image: url(../img/francia.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
}

.divFr h1{
    text-align: center;
    font-size: 3rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    
    
}

.divFr h2{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    
}

/* LINK ITALIANO cambios*/
.divIt{
    background-image: url(../img/italia.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
}

.divIt h1{
    text-align: center;
    font-size: 3rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    
    
}

.divIt h2{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    
}

/* LINK RUSO cambios*/
.divRu{
    background-image: url(../img/rusia.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
}

.divRu h1{
    text-align: center;
    font-size: 3rem;
    color:black;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    
    
}

.divRu h2{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    
}

/* LINK HOLANDES cambios*/
.divHo{
    background-image: url(../img/holanda.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
}

.divHo h1{
    text-align: center;
    font-size: 3rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    
    
}

.divHo h2{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding-left: 7%;
    padding-right: 7%;
    
}

/*FOOTER*/

footer{
    grid-area: footer;
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center ;
    align-items: center ;
    gap: 10px ;
    
    
 
}

.fa-brands{
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center ;
    text-decoration: none;
    border-radius: 50%;
    
}

.fa-facebook-f {
    background: white;
    color: black;
}

.fa-instagram {
    background: white;
    color: black;
}

.fa-whatsapp {
    background: white;
    color: black;
}

.fa-tiktok {
    background: white;
    color: rgb(15, 14, 14);
}

.fa-snapchat {
    background:white;
    color: black;
    
}


/* -----------MEDIA QUERIES------------*/

@media only screen and (min-width: 600px){
    
    /* INDEX - section2 */
    
    .section2{
        background-color: rgb(255, 254, 254) !important;
        min-width: 100% !important;
        
    }
    .section2 h1{
        font-size: 3rem;
        padding-bottom: 2%;
        
    }



    /*Footer*/

    
}

@media only screen and (min-width: 900px){
    .container{
        position: relative;
    }
    .header{
        position: sticky;
        top: 0;
    }
    
    /*menu desktop*/

    ul li:hover ul{
        display: none;
    }

    .imgMenu{
        display: none;
    }

    
    .menu{ 
        display: flex;
        grid-area: menu;  
        margin-top: 15px;
        padding: 2px;
        background-color:rgb(7, 7, 7);
        text-align: center;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        min-width: fit-content ;
        
    }

    nav ul li:hover{
        transform: scale(1.2);

    }
    
    

    .stickyMenu{
        display: flex ;
        position: sticky;
        top: 0;
        max-width: 100% ; 
        min-width: fit-content;
        
    }

    .menu li{
        display: flex;
        background-color:rgb(8, 8, 8);
        display: inline-block;
        padding: 10px;
        margin: 5px;
        
    }

    .menu li a{
        display: flex;
        color: rgb(250, 250, 250);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    /* INDEX - section principio*/

    .principio{
        min-width: 100% ;
        padding-bottom: 2% ;
    }

    
    .principio h1{
        font-size: 4rem ;
        text-align: center;
        

        
    }
    .principio h2{
        font-size: 2rem ;
        
        margin: 0% ;
        padding: 3% ;
    }

    .principio div div{
        padding-bottom: 15% ;
    }

    .imagenes{
        column-gap: 200px ;
        
    }
    .imagenes div a{
        font-size: 1.3rem;
        
    }

    .principio div div a:hover{
        transform: scale(1.2);
        transition: 0.5s;
    }
    
    .imgUk{
    width: 40% 
    
    }

    .imgIt{
    width: 40% 
    }

    .imgFr{
    width: 40% 
    }

    .imgGe{
        width: 40% 
    }

    .imgHo{
        width: 40% 
    }

    .imgRu{
        width: 40% 
    }


    /* INDEX - section1 */

    .section1{
        color: black ;
        background-color: rgb(0, 0, 0) ;
        background-size: cover;
        min-height: 1800px ;
        min-width: auto;
        padding-left: 2% ;
        padding-right: 2% ;
        padding-bottom: 3% ;
        display: flex;
        flex-flow: column nowrap;
    }

    .section1 h1{
        color: white ;
        font-size: 3rem ;
        margin-bottom: 3%;
        margin-top: 0% ;
    }

    .section1 article{
        background-color: rgb(255, 255, 255);
        color: black ;
        min-height: 450px ;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center ;
        align-items: center ;
        
    }

    .articleMedio{
        display: flex;
        flex-flow: row nowrap !important;
        justify-content: center ;
        align-items: space-between ;
        
    }
    

    .section1 article div{
        background-color: rgb(255, 255, 255);
        padding-left: 3% ;
        margin-bottom: 0%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center ;
        align-items: center ;


    }

    .div1{
        padding-left: 20% !important;
    }

    .divMedio{
        padding-right: 17% ;
    }

    
    .section1 article div h2{
        font-size: 2.3rem ;
        text-align: left;
        color: black ;
        
    }

    .section1 article div p{
        font-size: 1.6rem ;
        color: black ;
    }

    .talking{
        width: 140% ;

    }
    .ritmo{
        width: 140% ;
    }
    .ayuda{
        width: 140% ;
    }

    /* INDEX - section2 */

    .section2{
        background-color: rgb(255, 255, 255) ;
        min-width: 100% ;
        
    }
    .section2 h1{
        font-size: 3rem ;
        color: rgb(147, 147, 147) ;
        padding-bottom: 2%;
        
    }

    .section2 h2{
        font-size: 1.9rem ;
        color: rgb(147, 147, 147) ;
    }

    /*FOOTER */
    
    footer{
        grid-area: footer;
        width: 100%;
        height: 80px;
        background-color: black ;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center ;
        align-items: center ;
        gap: 50px ;
        
        
     
    }
    
    .fa-brands{
        padding: 10px;
        font-size: 20px;
        width: 40px;
        text-align: center ;
        text-decoration: none;
        border-radius: 50%;
        
    }

}


/* iniciar sesion */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, black, #120b0c, #605e5e, #edeced);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, black, #120b0c, #605e5e, #edeced);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
