*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.7fr 1.7fr 0.8fr 0.3fr;
    grid-template-areas:"header"
                        "main"
                        "section1"
                        "section2"
                        "footer";
}

.header{
    grid-area: header;
    background-color: rgb(2, 2, 2);
    min-width: auto;
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.titulo{
    font-size: 2rem;
    
}

/*menu desplegable*/

nav{
    justify-self: flex-end;
    
}

ul{
    list-style: none;
    font-size: 0;
    min-width: fit-content !important;
    
}
  
  
li{
    display: inline-block;
    width: 25% ;
    position: relative;
    font-size: 14px;
    min-width: fit-content !important;
}



ul ul {
    position: absolute;
    display: none;
    
    
    
    
}
  
ul ul li{
    display: block;
    width: auto;
    padding: 5px;
    
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: left;
    background-color:black;
    
    
}
  
  
ul ul li a{
    color: white;
    background-color: black;
    width:100vh;
    padding:4px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    
    
}
  
ul li:hover ul{
    display: block;
    
}
  
ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
    
    
}

.imgMenu{
    width: 35%;
    position: relative;
    z-index: 2;
    align-self: flex-end;
    justify-self: flex-end;
    
}

.logo{
    width: 45%;
}


/* main */

main{
    grid-area: main;
    min-height: auto;
    min-width: auto;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    

}

.principio{
    background-color: none;
    background-image: url(../img/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    min-height: auto;
    min-width: auto;
}

.principio h1{
    margin-top: 20% !important;
    margin: 10px;
    padding: 1px;
    font-size: 2.1rem;
    text-align: center;
    background-color: none;
}

.principio h2{
    background-color: none;
    margin: 10px;
    padding: 1px;
    font-size: 1.2rem;
    text-align: center;

}
/* imágenes de las banderas*/

.imagenes{
    height: auto;
    background-color: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; 
}

.imagenes div div{
    /*contenedor de la imagen y texto de abajo*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    margin: 10px;
    
    
    
}

.imagenes div div a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: left;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    
    
}


 
.imgUk{
    width: 40%
}

.imgIt{
    width: 40%
}

.imgFr{
    width: 40%
}

.imgGe{
    width: 40%
}

.imgHo{
    width: 40%
}

.imgRu{
    width: 40%
}


/* section1 */

.section1{
    grid-area: section1;
    min-height: fit-content;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    background-color: rgb(45, 42, 42);
    color: rgb(206, 200, 200);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    
}

.section1 h1{
    text-align: center ;
    font-size: 1.7rem;
}

.section1 article h2{
    margin-bottom: 5%;
    
}

.section1 article p{
    margin-bottom: 7%;
    
}

.talking{
    width: 100%;
}
.ritmo{
    width: 100%;
}
.ayuda{
    width: 100%;
}

article div{
    display: flex;
    justify-content: center;
    align-content: center;
}


/* section2*/

.section2{
    grid-area: section2;
    min-height: 300px;
    min-width: auto;
    background-color: rgb(147, 140, 140);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
.section2 h1{
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
}

.section2 h2{
    text-align: center;
}
/*Footer*/

footer{
    grid-area: footer;
    background-color: rgb(72, 72, 75);
    padding: 15px;
    min-width: auto;
    display: flex;
    justify-content: center;
    align-content: flex-end !important;
    gap: 2px;
 
}


footer img{
    width: 5%;
    
}

