.header {
  grid-area: header;
  background-color: black;
  min-width: auto;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style: none; }
  .header div .logo {
    width: 35%;
    padding-left: 15px; }
  .header nav {
    justify-self: flex-end; }
    .header nav ul {
      list-style: none;
      font-size: 0;
      min-width: fit-content !important; }
      .header nav ul li {
        display: inline-block;
        width: 25%;
        position: relative;
        font-size: 14px;
        min-width: fit-content !important; }
        .header nav ul li:hover ul {
          display: block; }
        .header nav ul li .imgMenu {
          list-style: none;
          text-decoration: none;
          color: black;
          width: 25%;
          position: relative;
          z-index: 2;
          align-self: flex-end;
          justify-self: flex-end; }
        .header nav ul li ul {
          position: absolute;
          display: none; }
          .header nav ul li ul li {
            display: block;
            width: auto;
            padding: 5px;
            border-top: 1px solid white;
            border-left: 1px solid white;
            border-right: 1px solid white;
            text-align: left;
            background-color: black; }
            .header nav ul li ul li a {
              color: white;
              background-color: black;
              width: 100vh;
              padding: 4px;
              margin-left: 10px;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1rem; }
  .header .stickyMenu {
    display: none; }

footer {
  grid-area: footer;
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px; }
  footer a .fa-brands {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; }
  footer a .fa-instagram {
    background: white;
    color: black; }
  footer a .fa-brands {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; }
  footer a .fa-facebook-f {
    background: white;
    color: black; }
  footer a .fa-brands {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; }
  footer a .fa-whatsapp {
    background: white;
    color: black; }
  footer a .fa-brands {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; }
  footer a .fa-tiktok {
    background: white;
    color: black; }
  footer a .fa-brands {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; }
  footer a .fa-snapchat {
    background: white;
    color: black; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.container .mainI {
  grid-area: mainI;
  min-height: auto;
  min-width: auto;
  background-color: white; }
  .container .mainI .principio {
    background-color: none;
    background-image: url(../img/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    min-height: auto;
    min-width: auto; }
    .container .mainI .principio h1 {
      margin-top: 10%;
      padding-bottom: 4%;
      padding-left: 3%;
      padding-right: 3%;
      font-size: 2.7rem;
      text-align: center;
      background-color: none;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
      font-family: 'Kanit', sans-serif; }
    .container .mainI .principio h2 {
      background-color: none;
      margin-bottom: 3%;
      padding: 1px;
      font-size: 1rem;
      text-align: center;
      color: white;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
      font-family: 'Kanit', sans-serif; }
    .container .mainI .principio .imagenes {
      height: auto;
      background-color: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      .container .mainI .principio .imagenes div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px; }
        .container .mainI .principio .imagenes div a {
          color: #f7f0f0;
          display: flex;
          flex-flow: column-reverse nowrap;
          justify-content: center;
          align-items: center;
          margin: 10px;
          text-decoration: none;
          text-align: left;
          list-style: none;
          font-family: 'Kanit', sans-serif;
          font-size: 1rem; }
          .container .mainI .principio .imagenes div a .imgUk {
            width: 30%; }
          .container .mainI .principio .imagenes div a .imgIt {
            width: 30%; }
          .container .mainI .principio .imagenes div a .imgFr {
            width: 30%; }
          .container .mainI .principio .imagenes div a .imgGe {
            width: 30%; }
          .container .mainI .principio .imagenes div a .imgHo {
            width: 30%; }
          .container .mainI .principio .imagenes div a .imgRu {
            width: 30%; }

.container .section1 {
  grid-area: section1;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 5%;
  background-image: linear-gradient(to bottom, black, #6c6c6c, #a8a6a6, white);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center; }
  .container .section1 h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2%;
    margin-top: 8%;
    color: #fffefe; }
  .container .section1 article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
    padding-left: 7%;
    padding-right: 7%; }
    .container .section1 article .div1 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center !important;
      align-items: center;
      margin-bottom: 7%; }
      .container .section1 article .div1 h3 {
        margin-top: 10%;
        margin-bottom: 3%;
        font-size: 1.5rem;
        text-align: center;
        color: white; }
      .container .section1 article .div1 p {
        margin-bottom: 3%;
        font-size: 1.2rem;
        color: white; }
    .container .section1 article .talking {
      width: 100%; }
  .container .section1 .articleMedio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
    padding-left: 7%;
    padding-right: 7%; }
    .container .section1 .articleMedio .divMedio {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center !important;
      align-items: center;
      margin-bottom: 7%; }
      .container .section1 .articleMedio .divMedio h3 {
        margin-top: 10%;
        margin-bottom: 3%;
        font-size: 1.5rem;
        text-align: center;
        color: white; }
      .container .section1 .articleMedio .divMedio p {
        margin-bottom: 3%;
        font-size: 1.2rem;
        color: white; }
    .container .section1 .articleMedio .ritmo {
      width: 100%; }
  .container .section1 article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center !important;
    padding-left: 7%;
    padding-right: 7%; }
    .container .section1 article .div1 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center !important;
      align-items: center;
      margin-bottom: 7%; }
      .container .section1 article .div1 h4 {
        margin-top: 10%;
        margin-bottom: 3%;
        font-size: 1.5rem;
        text-align: center;
        color: white; }
      .container .section1 article .div1 p {
        margin-bottom: 3%;
        font-size: 1.2rem;
        color: white; }
    .container .section1 article .ayuda {
      width: 100%; }

.container .section2 {
  grid-area: section2;
  min-height: 400px;
  background-color: #041C32;
  color: white;
  font-family: 'Kanit', sans-serif;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly; }
  .container .section2 article h4:first-child {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    font-family: 'Kanit', sans-serif; }
  .container .section2 article h4:last-child {
    text-align: center;
    margin: 5% 35%;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    background-color: #FF8E00;
    padding: 2% 3%;
    border: 1px solid none;
    border-radius: 50px; }
    .container .section2 article h4:last-child:hover {
      transform: scale(1.1);
      background-color: #fea941; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.7fr 1.7fr 0.8fr 0.3fr;
  grid-template-areas: "header" "mainI" "section1" "section2" "footer"; }

.containerIdiomas {
  position: relative;
  height: 100vh !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr 1.2fr 1.2fr 1.2fr 0.4;
  grid-template-areas: "header" "fondo" "sectioni2" "mainId" "sectioni3" "footer"; }

@media only screen and (min-width: 500px) {
  .section2 {
    min-width: 100% !important; }
    .section2 h1 {
      font-size: 3rem;
      padding-bottom: 2%; }
  .sectionIdiomas {
    padding-bottom: 15%;
    height: auto; } }

@media only screen and (min-width: 950px) {
  .container {
    position: relative; }
    .container .header {
      position: sticky;
      top: 0; }
      .container .header div .logo {
        width: 40%;
        padding-left: 15px; }
      .container .header nav ul li .imgMenu {
        display: none; }
      .container .header .stickyMenu {
        display: flex !important;
        position: sticky;
        top: 0;
        max-width: 100%;
        min-width: fit-content; }
        .container .header .stickyMenu .menu {
          display: flex;
          grid-area: menu;
          padding: 2px;
          background-color: black;
          text-align: center;
          list-style: none;
          display: flex;
          flex-flow: row nowrap;
          align-self: center;
          min-width: fit-content; }
          .container .header .stickyMenu .menu li {
            display: flex;
            background-color: black;
            display: inline-block;
            padding: 10px;
            margin: 5px; }
            .container .header .stickyMenu .menu li:hover {
              transform: scale(1.2); }
              .container .header .stickyMenu .menu li:hover ul {
                display: none; }
            .container .header .stickyMenu .menu li a {
              display: flex;
              color: #fafafa;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 1rem;
              font-family: Arial, Helvetica, sans-serif; }
    .container .mainI .principio {
      min-width: 100%;
      padding-bottom: 2%; }
      .container .mainI .principio h1 {
        font-size: 4rem;
        padding-bottom: 4%; }
      .container .mainI .principio h2 {
        font-size: 1.6rem; }
      .container .mainI .principio .imagenes {
        column-gap: 200px; }
        .container .mainI .principio .imagenes div {
          padding-bottom: 15%; }
          .container .mainI .principio .imagenes div a:hover {
            transform: scale(1.2);
            transition: 0.5s; }
          .container .mainI .principio .imagenes div a .imgUk {
            width: 40%; }
          .container .mainI .principio .imagenes div a .imgIt {
            width: 40%; }
          .container .mainI .principio .imagenes div a .imgFr {
            width: 40%; }
          .container .mainI .principio .imagenes div a .imgGe {
            width: 40%; }
          .container .mainI .principio .imagenes div a .imgHo {
            width: 40%; }
          .container .mainI .principio .imagenes div a .imgRu {
            width: 40%; }
    .container .section1 {
      color: black;
      background-color: black;
      background-size: cover;
      min-height: 1700px;
      min-width: auto;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 3%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly; }
      .container .section1 h3 {
        color: white;
        font-size: 2.3rem;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
        font-family: 'Kanit', sans-serif;
        margin-top: 0%; }
      .container .section1 article {
        background-color: white;
        color: black;
        min-height: 450px;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%; }
        .container .section1 article .div1 {
          background-color: white;
          padding-left: 3%;
          margin-bottom: 0%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          padding-left: 10% !important; }
          .container .section1 article .div1 h3 {
            font-size: 2.2rem;
            text-align: left;
            color: #ffa304;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
            font-family: 'Kanit', sans-serif; }
          .container .section1 article .div1 p {
            font-size: 1.3rem;
            color: black; }
        .container .section1 article .talking {
          width: 30%; }
      .container .section1 .articleMedio {
        display: flex;
        flex-flow: row nowrap !important;
        justify-content: center;
        align-items: space-between; }
        .container .section1 .articleMedio .divMedio {
          background-color: white;
          padding-left: 3%;
          margin-bottom: 0%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          padding-right: 10%; }
          .container .section1 .articleMedio .divMedio h3 {
            font-size: 2.2rem;
            text-align: left;
            color: #ffa304;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
            font-family: 'Kanit', sans-serif; }
          .container .section1 .articleMedio .divMedio p {
            font-size: 1.3rem;
            color: black; }
        .container .section1 .articleMedio .ritmo {
          width: 30%; }
      .container .section1 article {
        background-color: white;
        color: black;
        min-height: 450px;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%; }
        .container .section1 article .div1 {
          background-color: white;
          padding-left: 3%;
          margin-bottom: 0%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          padding-left: 10% !important; }
          .container .section1 article .div1 h4 {
            font-size: 2.2rem;
            text-align: left;
            color: #ffa304;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
            font-family: 'Kanit', sans-serif; }
          .container .section1 article .div1 p {
            font-size: 1.3rem;
            color: black; }
        .container .section1 article .ayuda {
          width: 30%; }
    .container .section2 article h4:first-of-type {
      padding-top: 5%;
      font-size: 2.5rem; }
    .container .section2 article h4:last-of-type {
      text-align: center;
      margin: 5% 42%;
      font-family: 'Kanit', sans-serif;
      font-weight: 600;
      text-align: center;
      font-size: 1.5rem;
      background-color: #FF8E00;
      padding: 1%;
      border: 1px solid none;
      border-radius: 50px; }
      .container .section2 article h4:last-of-type:hover {
        transform: scale(1.1);
        background-color: #fea941; }
      .container .section2 article h4:last-of-type a {
        text-decoration: none;
        color: white;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6); } }
