/* mapa a imagenes de fondo para cada idioma*/
$imgFondo: (
    aleman: url(../img/alemania.png),
    frances: url(../img/francemobile.png),
    holandes: url(../img/holandaa.jpg),
    ingles: url(../img/bigbmobile.png),
    italiano: url(../img/italia.jpg),
    ruso: url(../img/russiamobile.png),
);