
//grids de index
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.7fr 1.7fr 0.8fr 0.3fr;
    grid-template-areas:"header"
                        "mainI"
                        "section1"
                        "section2"
                        "footer";
    
}

//grids de idiomas
.containerIdiomas{
    position: relative;
    height: 100vh !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr 1.2fr 1.2fr 1.2fr 0.4;
    grid-template-areas:"header"
                        "fondo"
                        "sectioni2"
                        "mainId"
                        "sectioni3"
                        "footer";
}

// grid de Iniciar sesión
.containerIs{
    position: relative;
    height: 100vh ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3.5fr 0.5fr;
    grid-template-areas:"header"
                        "mainIs"
                        "footer";
}

@media only screen and (min-width: 500px){
    .container{
        header{
            a{
                .logo{
                    width: 40%;
                }
            }
        }
    }
    .containerIdiomas{
        header{
            a{
                .logo{
                    width: 40%;
                }
            }
        }
    }
    .containerIs{
        header{
            a{
                .logo{
                    width: 40%;
                }
            }
        }
    }

    //index
    .section2{
        min-width: 100% !important;
        h1{
            font-size: 3rem;
            padding-bottom: 2%;
        }
    }
    //main- sectionIdiomas
    .sectionIdiomas{
        padding-bottom: 15%;
        height: auto;
    }    
    
    /*main bootstrap*/
    .mainIs{
        height: 100%;
    }
}

@media only screen and (min-width:765px){
    /*main bootstrap*/
    .mainIs{
        height: 100vh;
    }
}

@media only screen and (min-width: 950px){
    .container{
        position: relative;
        .header{
            position: sticky;
            top: 0;
            a{
                .logo{
                    width: 45%;
                    padding-left: 15px;
                }
            }
        
            nav{
                
                ul{
                    
                    li{
                        .imgMenu{
                            display: none;
                        }
                    }
                }
            }

            .stickyMenu{
                display: flex !important ;
                position: sticky;
                top: 0;
                max-width: 100% ; 
                min-width: fit-content;
                .menu{
                    display: flex;
                    grid-area: menu; 
                    padding: 2px;
                    background-color:black;
                    text-align: center;
                    list-style: none;
                    display: flex;
                    flex-flow: row nowrap;
                    align-self: center;
                    min-width: fit-content ;
                    li{
                        display: flex;
                        background-color:black;
                        display: inline-block;
                        padding: 10px;
                        margin: 5px;
                        &:hover{
                            transform: scale(1.2);
                            ul{
                                display: none;
                            }
                        }
                        a{
                            display: flex;
                            color: rgb(250, 250, 250);
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 1rem;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }
        } 
        //main- principio
        .mainI{
            .principio{
                min-width: 100% ;
                padding-bottom: 2% ;
                h1{
                    font-size: 4rem ;
                    padding-bottom: 4%;
                }
                h2{
                    font-size: 1.6rem;
                }
                .imagenes{
                    column-gap: 200px ;
                    div{
                        padding-bottom: 15%;
                        a{
                            &:hover{
                                transform: scale(1.2);
                                transition: 0.5s;
                            }
                            .imgUk{
                                width: 40%
                            }
                            .imgIt{
                                width: 40%
                            }
                            .imgFr{
                                width: 40%
                            }
                            .imgGe{
                                width: 40%
                            }
                            .imgHo{
                                width: 40%
                            }
                            .imgRu{
                                width: 40%
                            }
                        }
                    }
                    
                }
            }
        }

        //section1
        .section1{
            color: black ;
            background-color: rgb(0, 0, 0) ;
            background-size: cover;
            min-height: 1700px ;
            min-width: auto;
            padding-left: 2% ;
            padding-right: 2% ;
            padding-bottom: 3% ;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;

            h3{
                color: white ;
                font-size: 2.3rem ;
                text-shadow: 0 2px 3px rgba(0, 0, 0, 0.60);
                font-family: 'Kanit', sans-serif;
                margin-top: 0% ;
            }
            article{
                background-color: rgb(255, 255, 255);
                color: black ;
                min-height: 450px ;
                display: flex;
                flex-flow: row-reverse nowrap;
                justify-content: center ;
                align-items: center ;
                padding-left: 2%;
                padding-right: 2%;
                .div1{
                    background-color: rgb(255, 255, 255);
                    padding-left: 3% ;
                    margin-bottom: 0%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center ;
                    align-items: center ;
                    padding-left: 10% !important;
                    h3{
                        font-size: 2.2rem ;
                        text-align: left;
                        color: #ffa304;
                        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.60);
                        font-family: 'Kanit', sans-serif;
                    }
                    p{
                        font-size: 1.3rem ;
                        color: black ;
                    }
                }
                .talking{
                    width: 30%;
                }
            }
            .articleMedio{
                display: flex;
                flex-flow: row nowrap !important;
                justify-content: center ;
                align-items: space-between ;
                .divMedio{
                    background-color: rgb(255, 255, 255);
                    padding-left: 3% ;
                    margin-bottom: 0%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center ;
                    align-items: center ;
                    padding-right: 10% ;
                    h3{
                        font-size: 2.2rem ;
                        text-align: left;
                        color: #ffa304;
                        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.60);
                        font-family: 'Kanit', sans-serif;
                    }
                    p{
                        font-size: 1.3rem ;
                        color: black ;
                    }
                }
                .ritmo{
                    width: 30%;
                }
            }
            article{
                background-color: rgb(255, 255, 255);
                color: black ;
                min-height: 450px ;
                display: flex;
                flex-flow: row-reverse nowrap;
                justify-content: center ;
                align-items: center ;
                padding-left: 2%;
                padding-right: 2%;
                .div1{
                    background-color: rgb(255, 255, 255);
                    padding-left: 3% ;
                    margin-bottom: 0%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center ;
                    align-items: center ;
                    padding-left: 10% !important;
                    h4{
                        font-size: 2.2rem ;
                        text-align: left;
                        color: #ffa304;
                        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.60);
                        font-family: 'Kanit', sans-serif;
                    }
                    p{
                        font-size: 1.3rem ;
                        color: black ;
                    }
                }
                .ayuda{
                    width: 30%;
                }
            }
        }

        //section2
        .section2{
            article{
                h4{
                    &:first-of-type{
                        padding-top: 5%;
                        font-size: 2.5rem;
                    }
                    &:last-of-type{
                        text-align: center;
                        margin: 5% 42%;
                        font-family: 'Kanit', sans-serif;
                        font-weight: 600;
                        text-align: center;
                        font-size: 1.5rem;
                        background-color: #FF8E00;
                        padding: 1%;
                        border: 1px solid none;
                        border-radius: 50px;
                        &:hover{
                            transform: scale(1.1);
                            background-color: #fea941;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.60);  
                        }
                    }
                }
            }
        }
    }

    //media queries de todos los idiomas

    .containerIdiomas{
        .header{
            position: sticky;
            top: 0;
            a{
                .logo{
                    width: 45%;
                    padding-left: 15px;
                }
            }
        
            nav{
                
                ul{
                    
                    li{
                        .imgMenu{
                            display: none;
                        }
                    }
                }
            }

            .stickyMenu{
                display: flex !important ;
                position: sticky;
                top: 0;
                max-width: 100% ; 
                min-width: fit-content;
                .menu{
                    display: flex;
                    grid-area: menu; 
                    padding: 2px;
                    background-color:black;
                    text-align: center;
                    list-style: none;
                    display: flex;
                    flex-flow: row nowrap;
                    align-self: center;
                    min-width: fit-content ;
                    li{
                        display: flex;
                        background-color:black;
                        display: inline-block;
                        padding: 10px;
                        margin: 5px;
                        &:hover{
                            transform: scale(1.2);
                            ul{
                                display: none;
                            }
                        }
                        a{
                            display: flex;
                            color: rgb(250, 250, 250);
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 1rem;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }
        } 
        .fondo-titulo{
            .divFr{
                background-image: url(../img/francia.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: fixed;
            }
            .divIn{
                background-image: url(../img/bigben.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: fixed;
            }
            .divRu{
                background-image: url(../img/russiaa.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: fixed;
            }
        }
        //main- sectionIdiomas
        .sectionIdiomas{
            article{
                margin: 3% 20%;
                font-size: 1.2rem;
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }

        //otras section
        .sectionIdiomas2{
            article{
                padding: 5%;
                h4{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }

        .sectionIdiomas3{
            div{
                left: 110px;
                right: 110px;
                h4{
                    padding-bottom: 0%;
                    font-size: 3rem;
                    color: #0d5292;
                    font-family: 'Kanit', sans-serif;
                    font-weight: 800;
                }
                p{
                    font-size: 1.5rem;
                    font-family: 'Kanit', sans-serif;
                    color: #120b0c;
                    font-weight: 600;
                }
            }
        }
    }

    //Iniciar sesión, registrarse, contacto
    .containerIs{
        position: relative;
        .header{
            position: sticky;
            top: 0;
            height: fit-content;
            a{
                .logo{
                    width: 45%;
                    padding-left: 15px;
                }
            }
        
            nav{
                
                ul{
                    
                    li{
                        .imgMenu{
                            display: none;
                        }
                    }
                }
            }

            .stickyMenu{
                display: flex !important ;
                position: sticky;
                top: 0;
                max-width: 100% ; 
                min-width: fit-content;
                .menu{
                    display: flex;
                    grid-area: menu; 
                    padding: 2px;
                    margin-bottom: 5px;
                    background-color:black;
                    text-align: center;
                    list-style: none;
                    display: flex;
                    flex-flow: row nowrap;
                    align-self: center;
                    min-width: fit-content ;
                    li{
                        display: flex;
                        background-color:black;
                        display: inline-block;
                        padding: 10px;
                        margin: 5px;
                        &:hover{
                            transform: scale(1.2);
                            ul{
                                display: none;
                            }
                        }
                        a{
                            display: flex;
                            color: rgb(250, 250, 250);
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 1rem;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }
        } 
    }
    .mainIs{
        height: 100vh;
    }

    //footer
    footer{
        grid-area: footer;
        width: 100%;
        height: 50px;
        background-color: black ;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center ;
        align-items: center ;
        gap: 30px ;
        a{
            .fa-brands{
                padding: 5px;
                font-size: 15px;
                width: 25px;
            }
        }
    }
}